<template>
  <div class="container">
    <form
      @submit="sendMessage"
      class="form-horizontal"
      role="form"
      style="margin-left: auto; margin-right: auto; margin-top: 25px"
    >
      <div class="form-group row">
        <label for="name" class="col-md-3 text-center">Name:</label>
        <input
          v-model="name"
          type="text"
          class="col-md-8 form-control"
          placeholder="Enter Name"
          id="name"
          name="name"
        />
      </div>
      <div class="form-group row">
        <label for="email" class="col-md-3 text-center">Email:</label>
        <input
          v-model="email"
          type="email"
          class="col-md-8 form-control"
          placeholder="Enter Email"
          id="email"
          name="email"
        />
      </div>
      <div class="form-group row">
        <label for="email" class="col-md-3 text-center">Message:</label>
        <textarea
          type="text"
          v-model="message"
          class="col-md-8 form-control"
          placeholder="Enter Message"
          id="message"
          name="message"
          style="resize: none"
        ></textarea>
      </div>
      <div class="form-group row">
        <label for="email" class="col-md-3 text-center"></label>
        <button
          v-if="formSending == false"
          class="col-md-8 btn btn-block border border-black"
        >
          Submit
        </button>
        <button
          v-if="formSending == true"
          class="col-md-8 btn btn-block border border-black"
        >
          Sending the message
        </button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loaded: false,
      name: null,
      email: null,
      message: null,
      formSending: false,
    };
  },
  mounted() {},
  methods: {
    sendMessage(e) {
      e.preventDefault();
      const self = this;

      self.formSending = true;

      axios
        .post("/contact-us/sendMessage/ajax", {
          name: self.name,
          email: self.email,
          message: self.message,
        })
        .then((response) => {
          alert(response.data.message);
          self.formSending = false;
          self.name = null;
          self.email = null;
          self.message = null;
        })
        .catch((error) => {
          alert("Sorry! Your message was not sent!");
          console.log(error);
          self.formSending = false;
        });
    },
  },
};
</script>